
* {
    margin: 0;              
    padding: 0;             
    box-sizing: border-box; 
}

header {
    display: flex;                          
    justify-content: space-between;         
    align-items: center;                    
    background-color: rgba(0, 0, 0, 0.9);   
    padding: 13px;                          
}

header a {
    text-decoration: none;  
    color: white;           
}

nav ul {
    list-style: none;   
    display: flex;      
    gap: 20px;          
}


h3 {
    text-align: center;  
    margin: 15px 0;      
}

section {
    display: flex;          
    flex-wrap: wrap;        
    justify-content: center;
    gap: 20px;              
    padding: 10px;          
}

article {
    flex: 1 1 200px;        
    max-width: 300px;       
    background: #f5f5f5;    
    border-radius: 10px;    
    padding: 10px;          
    text-align: center;     
}

article img {
    width: 100%;            
    height: auto;           
    border-radius: 8px;     
    display: block;         
}

article p {
    margin-top: 8px;        
    font-weight: 500;       
}

@media (max-width: 500px) {

    header {
        align-items: center;        
        justify-content: space-between;  
        gap: 10px;                  
    }

   
    nav ul {
        flex-direction: column;     
        gap: 10px;                  
    }

    ul li {
        background-color: rgba(95, 95, 95, 0.959);
        padding: 0px 15px 0px 1px;
    }

    section {
        flex-direction: column;
        align-items: center;   
    }

    article {
        max-width: 90%;        
    }

    p {
        font-size: 25px;
    }

    header a {
        font-size: 40px;
    }

    li a {
        font-size: 20px;
    }
}
